.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  padding: 15px 40px;
  border-bottom: 1px solid #888;
  font-family: 'Segoe UI', sans-serif;
}

.nav-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  position: relative;
}

.nav-right a:hover {
  color: #0af;
}

#profilePic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

#loginText {
  vertical-align: middle;
}
